<section class="hero">
				<div class="hero-content">
					<h1 class="hero-title">جميع العلامات التجارية</h1>
					<p class="hero-subtitle">
						الموقع الأول لمراجعة الأجهزة الكهربائية في مصر والشرق الأوسط بناء
						على اراء المهندسين المحترفين وتجارب المستخدمين السابقين.
					</p>
				</div>
			</section>