<section class="search-section">
    <div class="container">
        <h2 class="title center-header">البحث الذكي</h2>
        <form class="search-form" method="get" action="{{ site.url }}">
            <div class="form-body">
                <!-- Search term input -->
                <input type="hidden" name="s" value="test" aria-label="بحث" />

                <select class="custom-select" name="category" aria-label="اختر القسم">
                    <option selected disabled>القسم</option>
<option value="[494,618,630,520,521,812,497,504,571,828,568,507,511,575]">موبايلات</option>
<option value="[675,648,659,658]">تابلت</option>
<option value="[9,785]">ثلاجات</option>
<option value="[95]">تكييفات</option>
<option value="[12]">الشاشات</option>
<option value="[87]">غسالات اطباق</option>
<option value="[381]">لاب توب</option>
<option value="[11]">بوتاجازات ستاند</option>
<option value="[13]">دفايات</option>
<option value="[80]">سخانات</option>
<option value="[129]">المراوح</option>
<option value="[279]">مكنسه</option>
<option value="[83]">ديب فريزر رأسي</option>
<option value="[101]">مبرد مياه</option>
<option value="[386]">قلاية</option>
<option value="[87]">غسالات اطباق</option>
<option value="[126]">شفاطات</option>
<option value="[620]">بوتاجازات بلت ان</option>
<option value="[277]">مكواة شعر</option>
<option value="[278]">الفرن</option>
<option value="[793]">مبرد هواء</option>
<option value="[715]">ساعات ذكيه</option>
<option value="[416]">طابعة</option>
<option value="[786]">فرن بلت ان</option>
<option value="[272]">محضر طعام</option>
<option value="[268]">عجانه</option>
<option value="[349]">كاميرا</option>
<option value="[276]">استشوار</option>
<option value="[388]">مفرمة لحمه</option>
<option value="[88]">ميكروويف</option>

                </select>
                
<select class="custom-select" name="brand" aria-label="اختر العلامة التجارية"><option selected="" disabled="">العلامة التجارية</option>
<option value="[612,851,841,587]">Premium</option>
<option value="[802,607,41]">LG</option>
<option value="[816,815,503]">Xiaomi</option>
<option value="[495,514]">Realme</option>
<option value="[729,778,732]">sokany</option>
<option value="[348,813,810]">Canon</option>
<option value="[506,508]">Huawei</option>
<option value="[577,100]">Unionaire</option>
<option value="[619,45]">Kiriazi</option>
<option value="[726,843]">Sonai</option>
<option value="[654,52]">Zanussi</option>
<option value="[677,47]">Delonghi</option>
<option value="[842,632]">Apple</option>
<option value="[408,814]">HP</option>
<option value="[248,591]">Indesit</option>
<option value="[127,799]">Panasonic</option>
<option value="[792,862]">Ariete</option>
<option value="[788,669]">Akai</option>
<option value="[81,846]">المصانع الحربية</option>
<option value="[751,848]">White Westenghouse</option>
<option value="[762,791]">Hamburg</option>
<option value="[1896,673,131]">National</option>
<option value="[562,519]">Infinx</option>
<option value="[790,958,957]">Gorenje</option>
<option value="[826,329]">ُTruman</option>
<option value="[953,1897]">Zada</option>
<option value="[85,553]">Electrostar</option>
<option value="[852,684]">Galanz</option>
<option value="[82,613]">Olympic</option>
<option value="[492,678]">Touch</option></select>
                
<select class="custom-select" name="price" aria-label="اختر نطاق السعر">
    <option selected disabled>السعر</option>
    <option value="5000">من 0 إلي 5,000 جنيه</option>
    <option value="15000">من 5,001 إلي 15,000 جنيه</option>
    <option value="30000">من 15,001 إلي 30,000 جنيه</option>
    <option value="50000">من 30,001 إلي 50,000 جنيه</option>
    <option value="80000">من 50,001 إلي 80,000 جنيه</option>
    <option value="120000">من 80,001 إلي 120,000 جنيه</option>
    <option value="120001">120,001 فأكثر</option>
</select>

                
                <select class="custom-select" name="rating" aria-label="اختر التقييم">
                    <option selected disabled>التقييم</option>
                    <option value="1"> نجوم  من 1 إلي 2 </option>
                    <option value="2">نجوم  من 2.1 إلي 3</option>
                    <option value="3">نجوم  من 3.1  إلي 4</option>
                </select>
            </div>
            <button type="submit" class="search-button">ابحث</button>
        </form>
    </div>
</section>
