
			<!-- start brands section -->
			<section class="brands">
				<div class="container">
					<div class="center-header">
						<h2 class="title">العلامات التجارية المميزة</h2>
						<p class="subtitle">
							نفخر بشراكتنا مع أفضل العلامات التجارية في مجال الأجهزة الكهربائية
						</p>
					</div>
					<div class="brands-grid">
						<div class="brand-item">
							<img
								src="/images/brands/brand-1.png"
								alt="Brand 1"
								width="120"
								height="60"
								loading="lazy" />
						</div>
						<div class="brand-item">
							<img
								src="/images/brands/brand-1.png"
								alt="Brand 2"
								width="120"
								height="60"
								loading="lazy" />
						</div>
						<div class="brand-item">
							<img
								src="/images/brands/brand-1.png"
								alt="Brand 3"
								width="120"
								height="60"
								loading="lazy" />
						</div>
						<div class="brand-item">
							<img
								src="/images/brands/brand-1.png"
								alt="Brand 4"
								width="120"
								height="60"
								loading="lazy" />
						</div>
						<div class="brand-item">
							<img
								src="/images/brands/brand-1.png"
								alt="Brand 5"
								width="120"
								height="60"
								loading="lazy" />
						</div>
						<div class="brand-item">
							<img
								src="/images/brands/brand-1.png"
								alt="Brand 6"
								width="120"
								height="60"
								loading="lazy" />
						</div>
					</div>
					<a
						href="/all-brands"
						class="btn btn-outline-secondary center"
						data-category="home">
						المزيد من العلامات التجارية
					</a>
				</div>
			</section>
			<!-- end brands section -->