

<section class="brands">
				<div class="container">
					<div class="center-header">
						<h2 class="title">العلامات التجارية المميزة</h2>
						<p class="subtitle">
							نفخر بشراكتنا مع أفضل العلامات التجارية في مجال الأجهزة الكهربائية
						</p>
					</div>
					<div class="brands-grid">
{% for post in brands %}

						<a href="{{ post.link }}" class="brand-item">
							<img
								src="{{ post.thumbnail.src | default(defaultimg) }}"
								alt="{{ post.title }}"
								width="120"
								height="60"
								loading="lazy" />
						</a>
{% endfor %}
					</div>
					<a href="{{ brands_cpt.link }}" class="btn btn-outline-secondary center" data-category="home">
						المزيد من العلامات التجارية
					</a>
				</div>
			</section>

