{% if pagination.pages is not empty %}

					<nav aria-label="Page navigation" class="pagination-container">
						<ul class="pagination">
			{# Previous Page #}
            {% if pagination.prev %}
							<li class="disabled">
								<a href="{{ pagination.prev }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
							</li>
            {% endif %}

            {% for page in pagination.pages %}
                 
							<li class="{% if page.current %}active{% endif %}"><a  href="{{ page.link }}">{{ page.number }}</a></li>

             
            {% endfor %}

            {% if pagination.next %}

							<li>
								<a href="{{ pagination.next }}" aria-label="Next"><span aria-hidden="true">»</span></a>
							</li>
            {% endif %}

						</ul>
					</nav>

{% endif %}
