{% if pagination.pagination.pages is not empty %}

					<nav aria-label="Page navigation" class="pagination-container">
						<ul class="pagination">
			{# Previous Page #}
            {% if pagination.pagination.prev %}
							<li class="disabled">
								<a href="{{ pagination.pagination.prev.link }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
							</li>
            {% endif %}

            {% for page in pagination.pagination.pages %}
                 
							<li class="{% if page.current %}active{% endif %}"><a  href="{{ page.link }}">{{ page.title }}</a></li>

             
            {% endfor %}

            {% if pagination.pagination.next %}

							<li>
								<a href="{{pagination.pagination.next.link }}" aria-label="Next"><span aria-hidden="true">»</span></a>
							</li>
            {% endif %}

						</ul>
					</nav>
<br><br>
{% endif %}
